<div id="main-photo">
    <h1 id="main-h1" class="opacity-1">
        Volunteer
    </h1>
    <div class="absolute-1 opacity-1">
        Connecting NGOs with volunteer and donors willing to help.
    </div>
</div>
<div id="main-info">
    <div class="row-volunteer">
        <div class="volunteer-sp-1">
          <h2><i class="icon-search"></i> EXPLORE CAMPAIGNS</h2>
          <p>
            As user you are able to explore the nearest campaigns to your location, see campaigns by organizations or category.</p>
          <!--<p><a class="btn" href="#">Detalles &raquo;</a></p>-->
        </div>
        <div class="volunteer-sp-1">
          <h2><i class="icon-exchange"></i> GET INVOLVED</h2>
          <p> Get involve as volunteer or donor for campaigns of your interest and be recognized by the community as a leader in the social causes.</p>
        </div>
        <div class="volunteer-sp-1">
          <h2><i class="icon-group"></i> CREATE AND PROMOTE</h2>
          <p>Create the perfil of your ONG, start to promote your campaign and connect with volunteer and donors for your social cause. </p>
        </div>
    </div>
</div>
<div id="main-map">
    <div class="image-wrapper">
    <%= image_tag("mapa.png", :alt => "map") %>
    </div>
</div>