/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{
    margin: 0;
    padding: 0;
}

footer{
    position: fixed;
    padding: 0px;
    bottom: 0px;
    background-color: #444;
    color: #F7F7F7;
    font-size: 18px;
    width: 100%;
}

footer p{
    margin-top: 5px;
    margin-bottom: 5px;
}

#user_nav{
    width: 400px;
    min-height: 10px;
}
#main-wrapper{
    margin: 0;
    padding: 0;
    width: 100%;
}
#main-photo{
    position: relative;
    margin: 0;
    width: 100%;
    padding-top: 1px;
    height: 800px;
    background-color: #DDD;
    color: #FFF;
    background:
    url("cover.jpg") no-repeat center center;
    background-size: cover;
}
#main-info{
    padding-top: 1px;
    margin: 0;
    width: 100%;
    height: 250px;  /* Quitar despues */
    background-color: #333;
    color: #F7f7F7;
}
#main-map{
    padding-top: 1px;
    width: 100%;
    height: 305px;
    background-color: #3b4952;
}
#user_nav a{
    margin-top: 20px;
    display: block;
    padding: 10px 5px 10px;
    font-size: 15px;
    font-weight: 200;
    color: #888;
}
#main-h1{
    position: absolute;
    padding: 10px 10px 10px 30px;
    left: 0px;
    top: 28.7%;
    line-height: 60px;
    font-size: 60px;
    letter-spacing: -1px;
}
#main-map img{
    margin: 0px auto;
}
.image-wrapper{
    width: 561px;
    margin: 0 auto;
}
.row-volunteer{
    margin: 10px auto;
    width: 80%;
    max-width: 1400px;
    min-width: 800px;
    padding: 30px 0 30px;
}
.row-volunteer h1{
    text-align: center;
}
.volunteer-sp-1{
    width: 30%;
    text-align: center;
    font-size: 15px;
}
.volunteer-sp-1 h2{
    font-size: 20px;
}
.login-name{
    text-align: right;
    width: 60%;
}
.login-action{
    width: 15%;
}
.wrapper-1{
    width: 900px;
    margin: 15px auto;
    padding-top: 1px;
}
.user-photo{
    width: 200px;
    height: 200px;
    border: 1px solid #CCC;
}
.user-photo img{
    width: 100%;
    height: 100%;
}
.user-bio{
    margin-left: 20px;
    padding-left: 20px;
    width: 400px;
    height: 200px;
    border: 1px solid #CCC;
    background-color: #F7F7F7;
    box-shadow: 2px 2px 2px #333;
}
.user-badges{
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 185px;
    height: 200px;
    background-color: #F0F0F0;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px #333;
}
.user-campaigns{
    margin: 220px auto;
    width: 98%;
    height: 300px;
    padding-left: 20px;
    background-color: #F7F7F7;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px #333;
}
.absolute-1{
    position: absolute;
    padding: 20px 20px 20px 30px;
    left: 0px;
    top: 40%;
    line-height: 26px;
    width: 363px;
    font-size: 30px;
}
.opacity-1{
    background-color: rgba(33,33,33, .7);
    color: #FFF;
}
img.bg {
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
}
.left{
    float: left;
}
.right{
    float: right;
}
div[class*="volunteer-sp"]{
    float: left;
    margin-left: 3%;
    min-height: 1px;
}
@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
