/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{
    margin: 0;
    padding: 0;
}

footer{
    position: fixed;
    padding: 0px;
    bottom: 0px;
    background-color: #444;
    color: #F7F7F7;
    font-size: 18px;
    width: 100%;
}

footer p{
    margin-top: 5px;
    margin-bottom: 5px;
}

#user_nav{
    width: 400px;
    min-height: 10px;
}
#main-wrapper{
    margin: 0;
    padding: 0;
    width: 100%;
}
#main-photo{
    position: relative;
    margin: 0;
    width: 100%;
    padding-top: 1px;
    height: 800px;
    background-color: #DDD;
    color: #FFF;
    background:
    url("cover3.jpg") no-repeat center center;
    background-size: cover;
}
#main-info{
    padding-top: 1px;
    margin: 0;
    width: 100%;
    height: 250px;  /* Quitar despues */
    background-color: #333;
    color: #F7f7F7;
}
#main-map{
    padding-top: 1px;
    width: 100%;
    height: 305px;
    background-color: #3b4952;
}
#user_nav a{
    margin-top: 20px;
    display: block;
    padding: 10px 5px 10px;
    font-size: 15px;
    font-weight: 200;
    color: #888;
}
#main-h1{
    position: absolute;
    padding: 10px 10px 10px 30px;
    left: 0px;
    top: 28.7%;
    line-height: 60px;
    font-size: 60px;
    letter-spacing: -1px;
}
#main-map img{
    margin: 0px auto;
}
#new_campaign, #new_organization{
    margin: 10px auto;
    padding-left: 20px;
    padding-top: 20px;
    width: 400px;
    height: 700px;
}
.image-wrapper{
    width: 561px;
    margin: 0 auto;
}
.row-volunteer{
    margin: 10px auto;
    width: 80%;
    max-width: 1400px;
    min-width: 800px;
    padding: 30px 0 30px;
}
.row-volunteer h1{
    text-align: center;
}
.volunteer-sp-1{
    width: 30%;
    text-align: center;
    font-size: 15px;
}
.volunteer-sp-1 h2{
    font-size: 20px;
}
.login-name{
    text-align: right;
    width: 60%;
}
.login-action{
    width: 15%;
}
.wrapper-1{
    width: 900px;
    min-height: 400px;
    margin: 15px auto;
    padding-top: 1px;
}
.more-padding-1{
    padding: 10px;
}
.user-photo{
    width: 200px;
    height: 200px;
    border: 1px solid #CCC;
}
.user-photo img{
    width: 100%;
    height: 100%;
}
.user-bio{
    margin-left: 220px;
    padding-left: 20px;
    width: 400px;
    height: 200px;
    border: 1px solid #CCC;
    background-color: #F7F7F7;
    box-shadow: 2px 2px 2px #333;
}
.user-badges{
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 185px;
    height: 200px;
    background-color: #F0F0F0;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px #333;
}
.user-campaigns{
    clear: both;
    margin: 15px auto;
    width: 98%;
    height: 300px;
    padding-left: 20px;
    background-color: #F7F7F7;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px #333;
}
.absolute-1{
    position: absolute;
    padding: 20px 20px 20px 30px;
    left: 0px;
    top: 40%;
    line-height: 26px;
    width: 363px;
    font-size: 30px;
}
.opacity-1{
    background-color: rgba(33,33,33, .7);
    color: #FFF;
}
.box-shadow{
    box-shadow: 2px 2px 2px #CCC;
}
img.bg {
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
}
.left{
    float: left;
}
.right{
    float: right;
}
.image-grid{
    margin: 0px auto;
    padding-top: 1px;

}
.campaign-item{
    position: relative;
    padding-top: 1px;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 3px;
    margin-left: 15px;
    margin-top: 15px;
    width: 300px;
    height: 440px;
    background-color: #E5FF52;
}
.campaign-picture{
    margin: 12px auto;
    width: 90%;
    height: 52%;
}
.campaign-picture img{
    max-width: 100%;
    min-height: 100%;
}
.campaign-text{
    margin: 10px auto;
    width: 270px;
    height: 100px;
    text-align: center;
    font-size: 15px;
}
.resources-block{
    margin:10px auto;
    width: 270px;
    height: 30px;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
}

.resources-name{
    width: 70%;
    height: 100%;
    background-color: #36E0B0;
    color:#3B4952;
}
.resources-quantity{
    width: 30%;
    height: 100%;
    background-color: #3B4952;
    color: #E5FF52;
}
.img-btn{
    margin-right: 15px;
}

.campaign-description{
    position: relative;
    clear: both;
    margin: 40px auto;
    padding-top: 1px;
    padding-left: 15px;
    width: 800px;
    height: 900px;
    background-color: #E1F850;
    color: #35434E;
    box-shadow: 2px 2px 2px #CCC;
}
.campaign-description h1{
    margin-top: 25px;
    letter-spacing: 2px;
    font-weight: 200;
}
.campaign-description .campaign-picture{
    display: table-cell; vertical-align: middle;
    margin: 5px auto;
    padding-top: 1px;
    width: 780px;
    height: 400px;
}
.campaign-description .campaign-picture img{
    margin: 0px auto;
    max-width: 100%;
    min-height: 100% !important;
}

.campaign-description .campaign-text{
    margin: 15px auto;
    width: 90%;
    text-align: center;
    font-size: 15px;
}
.campaign-origin{
    margin: 20px auto;
    text-align: center;
    width: 780px;
}
.bar-counter{
    width: 500px;
    height: 30px;
    border-radius: 15px;
    background-color: #34454F !important;
}
.bar-graphic{
    width: 60%;
    height: 30px;
    background-color: #00EFB8 !important;
    border-radius: 15px;
}
.btn-support{
    width: 120px;
    height: 25px;
    padding: 5px;
    background-color: #35434E;
    color: #00EFB8;
}
.btn-support a{
    margin: 0px auto;
    font-size: 17px;
    color: #00EFBB;
    text-decoration: none;
    text-align: center;;
}
.bar-wrapper{
    clear:both;
}
.padding-left-1{
    padding-left: 10px;
}
.margin-right-1{
    margin-right: 32px;
}
.bolder{
    font-weight: bolder;
}
.result{
    font-size: 20px;
}
.clear{
    clear: both;
}
/*B&W*/
.bw {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
  -webkit-filter: grayscale(80%);
}

.bw:hover {
    -webkit-filter: none;
}

@media all and (max-width: 699px) and (min-width: 520px) {
    .image-grid{
        width: 630px;
    }
}
@media all and (max-width: 1200px) and (min-width: 700px) {
    .image-grid{
        width: 945px;
    }
}
@media all and (min-width: 1201px) {
    .image-grid{
        width: 1260px;
    }
}
div[class*="volunteer-sp"]{
    float: left;
    margin-left: 3%;
    min-height: 1px;
}
@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
