// Place all the styles related to the organizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.centered-div{
	width:80%;
	min-width:800px;
	max-width:1400px;
	margin-left:auto;
	margin-right:auto;
	margin-top:4em;
}

.organization-grid-item{
	list-style:none;
	float:left;
	border:1px solid gray;
	padding:1em;
}
