<div class="image-grid">
    <div class="campaign-item left">
        <div class="campaign-picture">
            <img src="img/img.jpg" class="bw">
        </div>
        <p class="campaign-text">Ajua, yo solo se que no se nada y vamos vamos a cotorrear. Yo estoy escribiendo puras tonterias y hay que contar el maximo de chars</p>
        <div class="resources-block">
            <div class="resources-name left">
                Donors
            </div>
            <div class="resources-quantity left">
                46%
            </div>
        </div>
        <a href="#" class="img-btn right">
            <img src="btn_vermas.png">
        </a>
    </div>
</div>